.messages-container{
    max-width: 600px;
    margin: 40px auto;
    /* background: #fff; */
    padding: 20px;
}
.messagebox{
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    transition: transform 0.6s ease-in-out;
    width: 30rem;
}