<div class="modal fade" id="workerloginmodal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'loginw' %}" id="wlogin-form">
            {% csrf_token %}
            <div class="alert alert-danger" style="display: none;"></div>
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
  
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control {%if messages%}is-invalid {%endif%}" name="user" required>
              <div class="invalid-feedback">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control {%if messages%}is-invalid{%endif%}" name="pass" required>
              <div class="invalid-feedback">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <p>Don't have an account? <button type="button" class="btn btn-link p-0 switch-to-register">Register</button></p>
        </div>
      </div>
    </div>
  </div>
