{% extends 'dashboard.html' %}
{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/userlist.css' %}">
{% endblock %}
{% block contents %}
<h1>Pending Workers</h1>
<hr>
<div class="users-container">
    
    {% for worker in workers %}
    <div class="users">
        <p>Name:{{worker.user.username}}</p>
        <p>Job:{{worker.job_title}}</p>
        <p>Categories:{{worker.Categories}}</p>
        <p>id:{{worker.user.id}}</p>
        <form method="post" action="{% url 'pendingworkeraccept' worker.id %}">
            {%csrf_token%}
            <button type="submit" class="btn btn-primary">Approve</button>
        </form>

        <form method="post" action="{% url 'pendingworkerreject' worker.id %}">
            {%csrf_token%}

            <button type="submit" class="btn btn-danger">Reject</button>
        </form>
        
        
    </div>
    {% endfor %}
</div>
{% endblock %}