{% extends 'base.html' %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{%  static 'css/userprofile.css' %}">
{% endblock %}

{% block contents %}

<div class="main">
    <div class="profilepicture">
        {% if pro.profilepicture %}
        <img class="profile_pic" src="/user/{{pro.profilepicture}}">
        {% else %}
        <span class="material-symbols-outlined">
            face
        </span>
        {%endif%}
    </div>
    <h2>Welcome,{{pro.user.username}}</h2>
    <p>Address:{{pro.address}}</p>
    <p>contact:{{pro.contact}}</p>
    <a href="{% url 'editprofile' pro.id %}"><button>EditProfile</button></a> 
</div>
{% endblock %}